edge-tts
moviepy==1.0.3
requests
Pillow==10.4.0
imageio==2.33.1
imageio-ffmpeg==0.4.9
numpy==1.26.4
google-api-python-client==2.179.0
google-auth==2.41.1
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
lxml
